<input id="outfit_id" data-id="<%=@outfit.id%>" type="hidden" />

<div class="container">
	<div class="fixed">
		<%= render partial: 'outfit', :locals => { :outfit => @outfit } %>
		<ul>
			<div class="clothing-items">
				<%= render partial: 'items/remove_clothing', :locals => { :outfit => @outfit } if has_items?(@outfit) %>
			</div>
		</ul>
	</div>

	<div class="flex-item">
		<h4>Add clothing to outfit</h4>
		<div id="items_not_in_outfit">
			<%= render partial: 'items/add_clothing', :locals => { :outfit => @outfit, :items => items_not_in_outfit(@outfit) } if has_items?(current_user) %>
		</div>
	</div>
</div>

<p>
	<%= link_to "Edit", edit_outfit_path %> | 
	<%= link_to "Delete", { :controller => :outfits, :action => :destroy} , :method => :delete %> 
</p>

<a href="#" class="js-next">Next Outfit</a>

<script type="text/javascript">
	$(document).on('submit', 'form',  function(event) {
		event.preventDefault();
		var values = $(this).serialize();
		$.post('/item_outfits', values).done(function (itemOutfit) {
			$(`#item-${itemOutfit.item.id}`).remove();
			appendClothingItem(itemOutfit.item, itemOutfit.outfit);
		});
	})
</script>