<%= render 'outfit' %>

<% if !@items.empty? %>
	<p>Clothing in Outfit:</p>

	<ul>
	<% @items.each do |item| %>
		<li> <%= link_to item.title.titleize, outfit_item_path(@outfit, item) %> - <%= item.category.title.titleize %> - <%= link_to "Remove from Outfit", { :controller => :item_outfits, :action => :destroy, :item => item, :outfit => @outfit }, :method => :delete %></li>
	<% end %>
	</ul>
<% end %>

</ul>

<% if !@all_user_items.empty? %>
	<p>Add clothing to outfit:</p>
	<ul>
	<% @all_user_items.each do |item| %>
	   <li> <%= link_to item.title.titleize, item_path(item) %> - <%= item.category.title.titleize %> - <%= link_to 'Add to Outfit', {:controller => :item_outfits, :action => :create, :item_id => item.id, :outfit_id => @outfit.id}, :method => :post %></li>
	<% end %>
	</ul>
<% end %>

<p>
<%= link_to "Edit", edit_outfit_path %> | 
<%= link_to "Delete", { :controller => :outfits, :action => :destroy} , :method => :delete %> 
</p>