<h4> <%= @item.title.titleize %></h4>
<%= image_tag @item.image.url %>
<ul>
  <li> Category: <%= @item.category.title.titleize %> </li>
  <li> Color: <%= @item.color %> </li>
  <% if !@item.brand.empty? %>
	  <li> Brand: <%= @item.brand.titleize %> </li>
  <% end %>
  <% if !@item.condition.empty? %>
	  <li> Condition: <%= @item.condition %> </li>
  <% end %>
</ul>