<%= render 'item' %>

<p>Currently in the following outfits:</p>
<% @outfits.each do |outfit| %>
	<%= link_to outfit.title, item_outfit_path(@item, outfit) %><br>
<% end %>


<p><%= link_to "Items", items_path %> | 
<%= link_to "Edit Item", edit_item_path %> | 
<%= link_to "Delete Item", { :controller => :items, :action => :destroy} , :method => :delete %>
</p>