<%= render 'item' %>

<% if !@outfits.empty? %>
	<p>Currently in the following outfits:</p>
	<ul>
	<% @outfits.each do |outfit| %>
		<li><%= link_to outfit.title.titleize, item_outfit_path(@item, outfit) %></li>
	<% end %>
	</ul>
<% end %>

<p><%= link_to "Create New Outfit", new_item_outfit_path(@item) %></p>

<p><%= link_to "Edit", edit_item_path %> | 
<%= link_to "Delete", { :controller => :items, :action => :destroy}, :method => :delete %>
</p>
