<%= render 'item' %>

<% if !@outfits.empty? %>
	<p>Currently in the following outfits:</p>
	<% @outfits.each do |outfit| %>
		<%= link_to outfit.title, item_outfit_path(@item, outfit) %><br>
	<% end %>
<% end %>

<p><%= link_to "Create New Outfit", new_item_outfit_path(@item) %></p>

<p><%= link_to "Clothing", items_path %> | 
<%= link_to "Edit", edit_item_path %> | 
<%= link_to "Delete", { :controller => :items, :action => :destroy}, :method => :delete %>
</p>
