<%= render 'item' %>

<%= render partial: 'outfits/item_outfits', :locals =>  { :item => @item } if has_outfits?(@item) %>

<p><%= link_to "Create New Outfit", new_item_outfit_path(@item) %></p>

<p><%= link_to "Edit", edit_item_path %> | 
<%= link_to "Delete", { :controller => :items, :action => :destroy}, :method => :delete %>
</p>
